<div
    class="shadow-sm"
    style="z-index: 9999;"
>
    <div class="top-nav bg-light text-dark py-3 d-flex justify-content-around">
        <div
            class="nav-item logo pointer"
            [routerLink]="['/home']"
        >
            <a [routerLink]="['/home']">
                e-
                <span style="color:#dc32e6;">Godham</span>
            </a>
        </div>

        <div class="nav-item">
            <app-searchbar
                [widthClass]="'w-100'"
                [suggestions]="categories"
                (searchEvent)="searh($event)"
            ></app-searchbar>
        </div>

        <div
            class="nav-item d-flex justify-content-between text-secondary"
            *ngIf="isAuthenticated"
        >
            <div class="cart-item pointer mt-1">
                <a [routerLink]="['/product/cart']">
                    <i class="fa fa-shopping-cart fa-lg"></i>
                    Cart |
                </a>
            </div>
            <div class="user-item d-flex justify-content-between">
                <i class="fa fa-user-circle-o fa-lg ml-3 mt-2"></i>
                <app-dropdown
                    [selectedOption]="'UserName'"
                    [options]="['View Orders', 'Log out']"
                    [noBorder]="true"
                    (selectedOptionEvent)="onSelectUserOption($event)"
                >
                </app-dropdown>
            </div>
        </div>

        <div
            class="nav-item text-secondary mt-2 pointer"
            *ngIf="!isAuthenticated"
        >
            <i class="fa fa-user-circle-o fa-lg ml-3 mt-2"></i>
            <a [routerLink]="['/auth']">LogIn</a>
        </div>
    </div>

    <div class="d-flex justify-content-center py-2 bg-white">
        <div class="mx-4 pointer">
            <app-sub-dropdown
                [selectedOption]="'Categories'"
                [options]="dropDownList"
                [listWidth]="'200px'"
                [noBorder]="true"
                (selectedOptionEvent)="selectCategory($event)"
            >
            </app-sub-dropdown>
        </div>
        <div class="mx-4 mt-2 pointer">
            <a
                [routerLink]="['/home/how-to-order']"
                routerLinkActive="border-bottom"
                class="pb-1"
            >
                How to Order
            </a>
        </div>
        <div class="mx-4 mt-2 pointer">
            <a
                [routerLink]="['/home/gift-coupons']"
                routerLinkActive="border-bottom"
                class="pb-1"
            >
                Gift Coupons
            </a>
        </div>
        <div class="mx-4 mt-2 pointer">
            <a
                [routerLink]="['/home/complaint-box']"
                routerLinkActive="border-bottom"
                class="pb-1"
            >
                Complaint Box
            </a>
        </div>
    </div>
</div>
<br>
