<!-- Top Image -->
<img
    src="../../assets/electronics-banner-02.jpg"
    class="img-fluid"
    style="position: relative; top: -30px;"
>

<br>
<br>
<br>
<!-- Information Center -->
<div class="bg-white p-5">
    <h2>Information Center</h2>
    <br>
    <div class="container bg-light">
        <img
            src="../../assets/electronics-banner-02.jpg"
            height="200px"
            style="object-fit: contain; width: 100%;"
        >
    </div>
</div>

<!-- New Arrivals -->
<div class="new-irivals p-5">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between">
            <h2>New Arrivals</h2>
        </div>
    </div>
    <br>
    <div class="row px-5 pb-5">
        <app-product-card
            *ngFor="let product of productData; let i=index"
            [product]="product"
            [productId]="productIds[i]"
        >
        </app-product-card>
    </div>

</div>
